.venv/
.uv-cache/
__pycache__/

# model training folders
grpo-arithmetic-lora-adapter/
grpo-arithmetic-lora-demo/
grpo-arithmetic-lora-early-stopping-adapter/
grpo-arithmetic-lora-early-stopping-demo/
sft-arithmetic-lora-adapter/
sft-arithmetic-lora-demo/
ludwig-rft-grpo-demo

.DS_Store

# MLflow related
mlartifacts/
mlflow.db
